@charset "UTF-8";
/*******----------------button---------------******/
.el-button--primary {
  color: #fff;
  background-color: #55ACEE;
  border-color: #55ACEE
}

.el-button--primary:focus,.el-button--primary:hover {
  background: #409eff;
  border-color: #409eff;
  color: #fff
}

.el-button--primary.is-active,.el-button--primary:active {
  background: #409eff;
  border-color: #409eff;
  color: #fff
}
/*******----------------form表单---------------******/
.el-form-item {
  margin-bottom:18px;
}
.el-form-item__label {
  color:#8C94AC;
}
/*.el-form-item__content {*/
  /*line-height:21px;*/
/*}*/
/*.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {*/
  /*line-height:21px;*/
/*}*/
/*******----------------tab选项卡---------------******/
.el-tabs__item {
  color:#404C73
}
/*******----------------tab选项卡---------------******/
.el-table .cell {
  color:#404C73
}
