@charset "UTF-8";
/*******----------------button---------------******/
.el-button--primary {
  color: #fff;
  background-color: #55ACEE;
  border-color: #55ACEE
}

.el-button--primary:focus,.el-button--primary:hover {
  background: #409eff;
  border-color: #409eff;
  color: #fff
}

.el-button--primary.is-active,.el-button--primary:active {
  background: #409eff;
  border-color: #409eff;
  color: #fff
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
  border-color:#d8dce6
}
/*******----------------form表单---------------******/
.el-form-item {
  margin-bottom:18px;
}
.el-form-item__label {
  color:#8C94AC;
}
/*.el-form-item__content {*/
  /*line-height:21px;*/
/*}*/
/*.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {*/
  /*line-height:21px;*/
/*}*/
/*******----------------tab选项卡---------------******/
.el-tabs__item {
  color:#404C73;
  min-width:110px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
}
/*******----------------tab选项卡---------------******/
.el-table .cell {
  color:#404C73
}

.left_bgColor .el-menu-item.is-active{
  color: #fff;
}
.el-table__header tr{
  background: #F6F7FB;
  color: #404C73;
}
.el-table__body-wrapper .cell{
color: #8C94AC;
}
.el-pagination .number{
  width: 24px;
  height: 24px;
  background: #FAFAFA;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
  line-height: 24px;
  margin:0px 3px;
}
.el-pagination .btn-next{
  height: 24px;
  background: #FAFAFA;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
  line-height: 24px;
  margin:0px 3px;
  margin-top:3px;
}
.el-pagination .btn-pre{
  height: 24px;
  background: #FAFAFA;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
  line-height: 24px;
  margin:0px 3px;
  margin-top:3px;
}
.el-pager li.active+li{
  border: 1px solid #E3E5E8;
}
.el-pagination button.disabled{
  width: 24px;
  height: 24px;
  background: #FAFAFA;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
  line-height: 24px;
  margin:0px 3px;
  margin-top:3px;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev {
  width: 24px;
  height: 24px;
  background: #FAFAFA;
  border: 1px solid #E3E5E8;
  border-radius: 2px;
  line-height: 24px;
  margin:0px 3px;
  color: #2d2f33;

}
.el-pager{
  margin-top:3px !important;
}
.el-dialog--center .el-dialog__header{
  height: 50px;
  padding:0 !important;
  line-height:54px;
  background: #F6F7FB;
}
.el-tabs--card>.el-tabs__header .el-tabs__nav{
  border:none !important;
}
.el-tabs__content{
  background: #fff;
}
.el-tabs__header{
  margin-bottom: 0px;
}
.el-table thead{
  background: #F6F7FB;
}
.el-input__inner:focus{
  border-color:#d8dce5;
}
