/**********样式*************/

.logo-txt {
  font-size: 20px;
  color: #404C73;
  line-height: 60px;
  font-weight: 600;
  text-decoration: none
}

.logo-txt:hover {
  text-decoration: none
}

.verify {
  width: 100%;
  color: #404C73;
  margin-bottom: 5px;
  overflow: hidden
}

.verify p {
  font-weight: 600;
  font-size: 14px;
  margin: 0!important
}

.verify-txt {
  width: 100%;
  border: 1px solid #EFF0F5;
  background: #fff
}

.verify-txt.noborder {
  border: none
}

.verify-txt.noborder ul {
  padding: 0
}

.verify-txt.noborder ul li img {
  width: 240px;
  height: 180px;
  overflow: hidden;
  vertical-align: top!important
}

.verify-txt.noborder ul li label {
  margin-right: 10px
}

.verify-txt.noborder ul li .textarea-txt {
  position: relative;
  display: block;
  height: 200px;
  font-size: 14px;
  margin-top: 20px;
  border: 1px solid #E3E5E8
}

.verify-txt.noborder ul li .textarea-txt textarea {
  width: 100%;
  height: 90%;
  background: #fff;
  border-radius: 2px!important;
  border: none;
  padding: 10px 20px;
  outline: 0;
  resize: none;
  color: #404C73;
  line-height: 24px;
  overflow: hidden
}

.verify-txt.noborder ul li .textarea-txt p {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: #ABB3C8
}

.verify-txt ul {
  padding: 20px;
  overflow: hidden
}

.verify-txt ul li {
  font-size: 14px;
  color: #8C94AC;
  line-height: 20px;
  margin-bottom: 10px
}

.margin-top-20 {
  margin-top: 20px
}

.input-daterange input {
  text-align: left!important
}

.icon-hdtime,.icon-time {
  width: 17px!important;
  height: 17px;
  background-position: -93px -39px
}

.icon-hdtime {
  background-position: -112px -39px
}

.input-icon>i {
  margin: 9px 2px 4px 10px
}

.prize-pop {
  display: none;
  position: fixed;
  top: 50%;
  left: 53%;
  z-index: 13000;
  margin-top: -320px;
  margin-left: -490px;
  width: 980px;
  height: 640px;
  background: url(./../../images/zjyh_bg.png) no-repeat
}

.prize-pop .pop-close {
  top: 130px;
  right: 95px;
  width: 23px;
  height: 24px;
  cursor: pointer
}

.prize-pop .prize-tit {
  width: 100%;
  height: auto;
  margin-top: 130px;
  font-size: 36px;
  color: #e63834;
  font-weight: 600;
  line-height: 40px;
  text-align: center
}

.prize-pop .pricontent {
  width: 87%;
  margin: 10px 0 0 30px;
  height: 310px;
  overflow-x: hidden;
  overflow-y: auto
}

.prize-pop .pricontent .pricontent-txt {
  width: 400px;
  border: 1px solid #f5efd7;
  background: #fffcee;
  margin: 0 20px 20px 0
}

.prize-pop .pricontent .pricontent-txt.fl {
  float: left;
  display: inline-block
}

.prize-pop .pricontent .pricontent-txt.fr {
  float: right;
  display: inline-block
}

.prize-pop .pricontent .pricontent-txt .pricontent-body {
  padding: 20px 20px 0
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul {
  width: 100%;
  overflow: hidden
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul.namepeople {
  border-bottom: 1px solid #f5efd7
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul.prizetxt {
  margin-top: 20px
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul li {
  font-size: 14px;
  color: #ba8305 !important;
  margin-bottom: 10px
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul li p {
  width: 100%;
  color: #ba8305 !important;
  overflow: hidden
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul li p em {
  width: 100px;
  color: #ba8305 !important;
  float: left
}

.prize-pop .pricontent .pricontent-txt .pricontent-body ul li p span {
  /*float: right;*/
  margin-left: 10px
}

.newhd {
  width: 102%
}

.newhds-list {
  float: left;
  position: relative;
  overflow: hidden;
  background: #faf9ff;
  border-radius: 7px!important;
  border: 1px solid #ebeaf6;
  box-shadow: 0 0 3px 3px rgba(235,234,246,.6);
  width:262px;
  margin: 0 2% 20px 0
}

.newhds-list.new-list .newhd-header {
  position: relative;
  margin: 0 20px;
  /*height: 140px;*/
  height:110px;
  background: 0 0;
  border-bottom: 2px dotted #eff0f5
}

.newhds-list.new-list .newhd-header .icon-left {
  bottom: -16px;
  left: -21px;
  width: 14px;
  height: 28px
}

.newhds-list.new-list .newhd-header .icon-left img {
  width: 100%
}

.newhds-list.new-list .newhd-header .icon-right {
  bottom: -16px;
  right: 21px;
  width: 14px;
  height: 28px
}

.newhds-list.new-list .newhd-header .icon-right img {
  width: 100%
}

.newhds-list.new-list .newhd-content {
  width: 100%;
  height: 250px;
}

.newhds-list.new-list .newhd-content p {
  line-height: 250px;
  position: relative;
  font-size: 20px;
  color: #9384e3;
  text-align: center
}

.newhds-list.new-list .newhd-content p img {
  width: 26px;
  vertical-align: -6px;
  margin-right: 5px
}

.newhds-list .newhd-header {
  width: 100%;
  height: 110px;
  background: url(./../../images/sks_h.png) 0 0/cover no-repeat
}

.newhds-list .newhd-header p.newhd-tit {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  /*padding: 20px 0;*/
  padding: 11px 0 ;
  margin: 0 10px;
  border-bottom: 1px dashed #6c5fae
}

.newhds-list .newhd-header .newhd-time {
  width: 100%;
  /*margin-top: 10px;*/
  margin-top:5px;
  overflow: hidden;
  /*font-size: 12px;*/
  font-size:10px;

}

.newhds-list .newhd-header .newhd-time p {
  text-align: center;
  line-height: 20px;
  color: #d5cefc
}

.newhds-list .newhd-content {
  width: 100%;
  /*height: 240px;*/
  height:250px;
  font-size:12px;
}

.newhds-list .newhd-content ul {
  padding: 10px 0;
  margin: 0 20px;
  overflow: hidden
}

.newhds-list .newhd-content ul li {
  height:30px;
  width: 100%;
  /*font-size: 14px;*/
  font-size:12px;
  color: #7d71c5;
  line-height: 24px;
  margin-bottom: 10px
}

.newhds-list .newhd-content ul li:after,.newhds-list .newhd-content ul li:before {
  content: " ";
  display: table
}

.newhds-list .newhd-content ul li:after {
  clear: both
}

.newhds-list .newhd-content ul li>span {
  /*width: 100px*/
  width:90px;
}

.newhds-list .newhd-content ul li .newhd-inf {
  /*padding-left: 110px;*/
  padding-left:100px;
  color: #7d71c5;
}

.newhds-list .newhd-content ul li .edit-txt {
  width: 100%!important;
  padding-left: 110px;
  height: 20px;
  line-height: 20px;
  color: #7d71c5;
}

.newhds-list .newhd-content ul li .edit-txt:after,.newhds-list .newhd-content ul li .edit-txt:before {
  content: " ";
  display: table
}

.newhds-list .newhd-content ul li .edit-txt:after {
  clear: both
}

.newhds-list .newhd-content ul li .edit-txt input {
  float: left;
  border-radius:0px;
  /*width: 80%;*/
  /*font-size: 14px;*/
  font-size:12px;
  padding: 2px 0;
  color: #7d71c5;
  background: 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ebeaf6
}

.newhds-list .newhd-content ul li .edit-txt em {
  /*float: left;*/
  margin-left: 5px
}

.newhds-list .newhd-content ul li .error-txt {
  width: 100%;
  margin-top: 5px;
  line-height: 20px;
  font-size: 12px;
  color: #FF0036;
  clear: both
}

.newhds-list .newhd-footer {
  width: 100%;
  height: 80px
}

.newhds-list .newhd-footer .newhd-btn {
  position: relative;
  margin: 0 20px;
  border-top: 1px dashed #ebe9f6
}

.newhds-list .newhd-footer .newhd-btn .icon-left {
  top: -14px;
  left: -21px;
  width: 14px;
  height: 28px
}

.newhds-list .newhd-footer .newhd-btn .icon-left img {
  width: 100%
}

.newhds-list .newhd-footer .newhd-btn .icon-right {
  top: -14px;
  right: -21px;
  width: 14px;
  height: 28px
}

.newhds-list .newhd-footer .newhd-btn .icon-right img,.newhds-list .newhd-footer .newhd-btn table,.newhds-list .newhd-footer .newhd-btn table tr {
  width: 100%
}

.newhds-list .newhd-footer .newhd-btn table tr td {
  text-align: center
}

.newhds-list .newhd-footer .newhd-btn table tr td a {
  display: inline-block;
  /*font-size: 14px;*/

  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px 10px 0 0
}

.newhds-list .newhd-footer .newhd-btn table tr td a.btn-edit {
  background: #9384e3;
  color: #fff
}

.newhds-list .newhd-footer .newhd-btn table tr td a.btn-other {
  border: 1px solid #9384e3;
  color: #9384e3
}
.newhds-list .newhd-content ul li .edit-txt {
padding-left: 80px
}
/*@media screen and (min-width:1240px) {*/
  /*.newhds-list {*/
    /*!*width: 21%;*!*/
    /*width:262px;*/
    /*margin: 0 2% 20px 0*/
  /*}*/

  /*.newhd-tit {*/
    /*font-size: 20px!important*/
  /*}*/

  /*.newhds-list .newhd-content ul li .edit-txt {*/
    /*padding-left: 80px*/
  /*}*/
/*}*/

/*@media screen and (max-width:1240px) {*/
  /*.newhds-list {*/
    /*!*width: 23%;*!*/
    /*width:262px;*/
    /*margin: 0 2% 20px 0*/
  /*}*/

  /*.newhd-tit {*/
    /*font-size: 16px!important*/
  /*}*/

  /*.newhds-list .newhd-content ul li {*/
    /*font-size: 12px!important;*/
    /*margin-bottom: 0!important*/
  /*}*/

  /*.newhds-list .newhd-content {*/
    /*height: 220px!important*/
  /*}*/

  /*.newhds-list .newhd-content ul li .edit-txt {*/
    /*padding-left: 90px*/
  /*}*/

  /*.newhds-list.new-list .newhd-content p {*/
    /*line-height: 260px*/
  /*}*/
/*}*/

/*@media screen and (max-width:900px) {*/
  /*.newhds-list {*/
    /*!*width: 31%;*!*/
    /*width:262px;*/
    /*margin: 0 2% 20px 0*/
  /*}*/

  /*.newhd-tit {*/
    /*font-size: 18px!important*/
  /*}*/

  /*.newhds-list .newhd-content ul li {*/
    /*font-size: 12px!important;*/
    /*margin-bottom: 0!important*/
  /*}*/

  /*.newhds-list .newhd-content {*/
    /*height: 190px!important*/
  /*}*/

  /*.newhds-list.new-list .newhd-content p {*/
    /*line-height: 190px*/
  /*}*/
/*}*/

/*@media screen and (max-width:700px) {*/
  /*.newhds-list {*/
    /*!*width: 48%;*!*/
    /*width:262px;*/
    /*margin: 0 2% 20px 0*/
  /*}*/
/*}*/

#cancleedit {
  display: none
}

.choose-hd {
  /*display: none;*/
  /*position: fixed;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*margin-top: -320px;*/
  /*margin-left: -450px;*/
  /*z-index: 13000;*/
  /*width: 900px;*/
  /*height: 640px;*/
  /*background: #fff*/
}

.choose-hd.olderdetail {
  display: none;
  width: 620px;
  height: 520px;
  margin-left: -310px;
  margin-top: -260px
}

.choose-hd.olderdetail .choose-copntent {
  padding: 20px 0;
  margin: 0 20px
}

.choose-hd .choose-hd_close {
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer
}

.choose-hd .choose-hd_header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #404C73;
  background: #F6F7FB
}

.choose-hd .choose-copntent {
  height: 350px;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto
}

.choose-hd .choose-copntent .choose-copntent_body {
  padding: 0px 0px;
  margin: 0 10px
}

.choose-hd .choose-copntent .choose-copntent_body ul {
  width: 100%;
  overflow: hidden
}

.choose-hd .choose-copntent .choose-copntent_body ul li {
  width: 260px;
  float: left;
  margin: 0 18px 20px 0;
  overflow: hidden;
  background: #faf9ff;
  border-radius: 7px!important;
  /*border: 1px solid #ebeaf6;*/
  box-shadow: 0 0 3px 3px rgba(235,234,246,.6)
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-header {
  width: 100%;
  height: 111px;
  background: url(./../../images/sks_h.png) no-repeat
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-header p.newhd-tit {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin: 0 5px;
  border-bottom: 1px dashed #6c5fae
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-header .newhd-time {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  font-size: 12px;
  color: #d5cefc
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-header .newhd-time p {
  text-align: center;
  line-height: 20px;
  color:#d5cefc;
  font-size:10px;
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-content {
  height: 50px;
  line-height: 50px
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-content a {
  display: block;
  text-align: center;
  font-size: 14px;
  color: #9384E3;
  text-decoration: none
}

.choose-hd .choose-copntent .choose-copntent_body ul li .newhd-content a:hover {
  text-decoration: none
}

.choose-hd .choose-footer {
 text-align: center;
  padding:20px 0px;
  background: #F6F7FB
}

.newbuild-textarea .textarea-txt {
  position: relative;
  display: block;
  height: 100px;
  font-size: 14px;
  border: 1px solid #E3E5E8
}

.newbuild-textarea .textarea-txt textarea {
  width: 100%;
  height: 90%;
  background: #fff;
  border-radius: 2px!important;
  border: none;
  padding: 10px 16px;
  outline: 0;
  resize: none;
  color: #404C73;
  line-height: 24px
}

.newbuild-textarea .textarea-txt p {
  position: absolute;
  bottom: 5px;
  right: 15px;
  color: #ABB3C8
}

.newbuild-textarea .single-ticket input {
  width: 38.2%;
  float: left
}

.newbuild-textarea .single-ticket span {
  float: left;
  color: #8C94AC;
  display: block;
  padding: 7px 10px
}

.newbuild-textarea .redstar {
  color: #F16767;
  font-size: 12px;
  margin-right: 8px
}

.newbuild-textarea .margin-top {
  margin-top: 90px
}
